* {
    box-sizing: border-box;
}
body{
    min-height: 100vh;
}
main{
    display: grid;
    width: 1200px;
    grid-template-areas: "content sidebar";
    column-gap: 5px;
}
.content-container{
    grid-area: content;
    background-color: azure;
    border: none;
}

#moves{
    padding-right: 40px;
    
}

.game-header{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 1.5rem;
}

#playagain{
    margin-left: auto;
    font-size: 1rem;
    border: 2px solid gray;
    border-radius: 4px 4px;
    
}

.game-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    background-color:  #2196F3;
    justify-content: space-evenly;
    padding: 10px 0;
}

.game-container #play{
    position: absolute;
    top: 200px;
    left: 400px;
    width: 180px;
    height: 180px;
    border: 2px solid blue;
    background-color: beige;
    border-radius: 10px;
    display: block;
    text-align: center;
    color: orangered;
    cursor: pointer;
}

.game-container > button{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 15px 0;
    font-size: 30px;
    border: 1px solid white;
    width: 180px;
    height: 150px;
}

.game-mode{
    text-align: center;
}
.game-mode button{
    margin: 0 10px;
}

/* Sidebar */
.sidebar-container{
    grid-area: sidebar;
    width: 250px;  
    margin-top: 40px;
    text-align: center;
    background-color: beige;
}
